<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/851eaaf8-1148-4d44-88d4-4630e7129fb3/resourceGroups/prod-documentservice_group/providers/Microsoft.ContainerRegistry/registries/flowmonodev</ResourceId>
    <ResourceName>flowmonodev</ResourceName>
    <ResourceGroup>prod-documentservice_group</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://flowmonodev.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d036ab3b-8fc6-4fa0-a2f2-46cdfd3be74a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>